body {
	color: #000000;
	background-color: #101010;
}

footer {
	background-color: #b99703;
}

nav ul {
	background-color: #000000;
}

nav ul li a {
	color: #FFFFFF;
}

nav ul li#actual {
	background-color: #f3dc04;
}

h1 {
	background-image: url("../images/bannerYellowSmall.png");
}

@media screen and (min-width: 650px) {
	h1 {
		background-image: url("../images/bannerYellow.png");
	}
}

/*
d3bb03 green
977007 brown
303d11 black
f3dc04 yellow
*/